pipeline/InnerPipeline.json
{
	"name": "InnerPipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup for dim or fact",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@{concat('SELECT * FROM cfg.ProceduresList WHERE TableType = ''',pipeline().parameters.TableType,''' AND Hierarchy = ', pipeline().parameters.hierarchyNr)}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metadata",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "ProceduresList"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDim",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for dim or fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for dim or fact').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DimProcedure",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "@item().ProcedureName",
										"type": "Expression"
									},
									"storedProcedureParameters": {
										"ExecutionID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionID",
												"type": "Expression"
											}
										},
										"PipelineRunID": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dummy"
									}
								}
							}
						},
						{
							"name": "Log ExecMessages_4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DimProcedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[lg].[Log_ExecMessages]",
								"storedProcedureParameters": {
									"ExecMessage": {
										"value": {
											"value": "@{concat('Loading procedure execution: ', item().ProcedureName, '. Hierarchy level: ', item().Hierarchy, '. Status: ', activity('DimProcedure').output.firstRow['ErrorMessage'])}\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionID": {
										"value": {
											"value": "@pipeline().parameters.ExecutionID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "If error occured",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check if error occured",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Check if error occured').output.firstRow['ErrorFlag'], 1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Force error",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@{concat('SELECT * FROM ', item().TableName)}",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "Metadata",
												"type": "DatasetReference",
												"parameters": {
													"tableName": "dummy"
												}
											}
										}
									},
									{
										"name": "Log ExecMessages_4A",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Force error",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[lg].[Log_ExecMessages]",
											"storedProcedureParameters": {
												"ExecMessage": {
													"value": {
														"value": "@activity('Force error').error.message",
														"type": "Expression"
													},
													"type": "String"
												},
												"ExecutionID": {
													"value": {
														"value": "@pipeline().parameters.ExecutionID",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"PipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SQLDB",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Force failure of pipeline",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "Force error",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "error",
											"value": "0"
										}
									}
								]
							}
						},
						{
							"name": "Check if error occured",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Log ExecMessages_4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[lg].[checkForErrors]",
									"storedProcedureParameters": {
										"ExecutionID": {
											"type": "Int32",
											"value": {
												"value": "@pipeline().parameters.ExecutionID",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Metadata",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "dummy"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"hierarchyNr": {
				"type": "string"
			},
			"TableType": {
				"type": "string"
			},
			"ExecutionID": {
				"type": "int"
			}
		},
		"variables": {
			"error": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-14T07:12:41Z"
	}
}