pipeline/InnerPipeline1.json
{
	"name": "InnerPipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup for dim or fact",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@{concat('SELECT * FROM cfg.ProceduresList WHERE TableType = ''',pipeline().parameters.TableType,''' AND Hierarchy = ', pipeline().parameters.hierarchyNr)}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Metadata1",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "ProceduresList"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachDim",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup for dim or fact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for dim or fact').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "DimProcedure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().ProcedureName",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"PipelineRunID": {
										"value": {
											"value": "@pipeline()?.TriggeredByPipelineRunId",
											"type": "Expression"
										}
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLDB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Log ExecMessages_4",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "DimProcedure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[lg].[Log_ExecMessages]",
								"storedProcedureParameters": {
									"ExecMessage": {
										"value": {
											"value": "@{concat('Loading procedure execution: ', item().ProcedureName, '. Hierarchy level: ', item().Hierarchy)}\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@{pipeline()?.TriggeredByPipelineRunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ExecutionID": {
										"value": {
											"value": "@pipeline().parameters.ExecutionID",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SQLDB",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"hierarchyNr": {
				"type": "string"
			},
			"TableType": {
				"type": "string"
			},
			"ExecutionID": {
				"type": "int"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-14T07:12:41Z"
	}
}