mpadf1/PartialArmTemplates/ArmTemplate_9_16_2021_13_39_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mpadf1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/InnerPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup for dim or fact",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT * FROM cfg.ProceduresList WHERE TableType = ''',pipeline().parameters.TableType,''' AND Hierarchy = ', pipeline().parameters.hierarchyNr)}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ProceduresList"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDim",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for dim or fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for dim or fact').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Log ExecMessages_4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimProcedure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[lg].[Log_ExecMessages]",
										"storedProcedureParameters": {
											"ExecMessage": {
												"value": {
													"value": "@{concat('Loading procedure execution: ', item().ProcedureName, '. Hierarchy level: ', item().Hierarchy, '. Status: ', activity('DimProcedure').output.firstRow['ErrorMessage'])}\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionID": {
												"value": {
													"value": "@pipeline().parameters.ExecutionID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "DimProcedure",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": {
												"value": "@item().ProcedureName",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"ExecutionID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ExecutionID",
														"type": "Expression"
													}
												},
												"PipelineRunID": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Metadata",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "dummy"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"hierarchyNr": {
						"type": "string"
					},
					"TableType": {
						"type": "string"
					},
					"ExecutionID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T07:12:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup for all processes",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT ProcessName FROM cfg.ProcessesData",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Is itemsCount greater than 0",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check if inserted ProcessName exists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('Check if inserted ProcessName exists').output.FilteredItemsCount, 0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Log ExecMessages",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Log PipelineExecParam",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[lg].[Log_ExecMessages]",
										"storedProcedureParameters": {
											"ExecMessage": {
												"value": {
													"value": "@{concat('Invalid ProcessName. Inserted: ', pipeline().parameters.ProcessName)}",
													"type": "Expression"
												},
												"type": "String"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionID": {
												"value": {
													"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log PipelineExecParam",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[lg].[Log_PipelineExecParam]",
											"storedProcedureParameters": {
												"PipelineRunID": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												},
												"ProcessName": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.ProcessName",
														"type": "Expression"
													}
												},
												"StartTime": {
													"type": "DateTime",
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Metadata",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "dummy"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "ETL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "OuterPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ProcessName": {
												"value": "@pipeline().parameters.ProcessName",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Check if inserted ProcessName exists",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Lookup for all processes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for all processes').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().ProcessName, pipeline().parameters.ProcessName)",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"ProcessName": {
						"type": "string",
						"defaultValue": "salesData"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}