mpadf1/PartialArmTemplates/ArmTemplate_9_16_2021_22_39_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mpadf1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/InnerPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup for dim or fact",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT * FROM cfg.ProceduresList WHERE TableType = ''',pipeline().parameters.TableType,''' AND Hierarchy = ', pipeline().parameters.hierarchyNr)}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ProceduresList"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDim",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for dim or fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for dim or fact').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "DimProcedure",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": {
												"value": "@item().ProcedureName",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"ExecutionID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ExecutionID",
														"type": "Expression"
													}
												},
												"PipelineRunID": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Metadata",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "dummy"
											}
										}
									}
								},
								{
									"name": "Log ExecMessages_4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimProcedure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[lg].[Log_ExecMessages]",
										"storedProcedureParameters": {
											"ExecMessage": {
												"value": {
													"value": "@{concat('Loading procedure execution: ', item().ProcedureName, '. Hierarchy level: ', item().Hierarchy, '. Status: ', activity('DimProcedure').output.firstRow['ErrorMessage'])}\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionID": {
												"value": {
													"value": "@pipeline().parameters.ExecutionID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Log ExecMessages_4A",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimProcedure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[lg].[Log_ExecMessages]",
										"storedProcedureParameters": {
											"ExecMessage": {
												"value": {
													"value": "@{activity('DimProcedure').error.message}",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionID": {
												"value": {
													"value": "@pipeline().parameters.ExecutionID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQLDB",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"hierarchyNr": {
						"type": "string"
					},
					"TableType": {
						"type": "string"
					},
					"ExecutionID": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T07:12:41Z"
			},
			"dependsOn": []
		}
	]
}