mpadf1/PartialArmTemplates/ArmTemplate_9_24_2021_9_41_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "mpadf1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/InnerPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup for dim or fact",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set PipelineRunId",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT * FROM cfg.ProceduresList WHERE TableType = ''',pipeline().parameters.TableType,''' AND Hierarchy = ', pipeline().parameters.hierarchyNr)}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ProceduresList"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDim",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for dim or fact",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for dim or fact').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "DimProcedure",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": {
												"value": "@item().ProcedureName",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"ExecutionID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ExecutionID",
														"type": "Expression"
													}
												},
												"PipelineRunID": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Metadata",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "dummy"
											}
										}
									}
								},
								{
									"name": "Log ExecMessages_4",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "DimProcedure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[lg].[Log_ExecMessages]",
										"storedProcedureParameters": {
											"ExecMessage": {
												"value": {
													"value": "@{concat('Loading procedure execution: ', item().ProcedureName, '. Hierarchy level: ', item().Hierarchy, '. Status: ', activity('DimProcedure').output.firstRow['ErrorMessage'])}\n",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecutionID": {
												"value": {
													"value": "@pipeline().parameters.ExecutionID",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"PipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"ErrorID": {
												"value": {
													"value": "@activity('DimProcedure').output.firstRow['ErrorID']",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"TableLoad_ID": {
												"value": {
													"value": "@{concat(activity('DimProcedure').output.firstRow['TableLoad_ID'])}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "SQLDB",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "If error occured",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Check if error occured",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('Check if error occured').output.firstRow['ErrorFlag'], 1)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Break",
												"type": "WebActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"url": {
														"value": "@variables('PipelineRunId')",
														"type": "Expression"
													},
													"method": "POST",
													"body": {
														"message": "Cancelling the pipeline"
													},
													"authentication": {
														"type": "MSI",
														"resource": "https://management.azure.com"
													}
												}
											}
										]
									}
								},
								{
									"name": "Check if error occured",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Log ExecMessages_4",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[lg].[checkForErrors]",
											"storedProcedureParameters": {
												"ExecutionID": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.ExecutionID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "Metadata",
											"type": "DatasetReference",
											"parameters": {
												"tableName": "dummy"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Set PipelineRunId",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "PipelineRunId",
							"value": {
								"value": "@concat('https://management.azure.com/subscriptions/2bcb9f3d-3f6b-4a90-a49e-86d3141c7f73/resourceGroups/Lingaro_magdalenapietras_2109240601_49194/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelineruns/',pipeline().RunId,'/cancel?api-version=2018-06-01')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"hierarchyNr": {
						"type": "string"
					},
					"TableType": {
						"type": "string"
					},
					"ExecutionID": {
						"type": "int"
					}
				},
				"variables": {
					"PipelineRunId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T07:12:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OuterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEachLanding",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for Process').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "check if folder exists",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "inputFile_gen",
											"type": "DatasetReference",
											"parameters": {
												"folderName": {
													"value": "@item().SourcePath",
													"type": "Expression"
												}
											}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "check if folder exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('check if folder exists').output['exists'], true)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Log ExecMessages_copy1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[lg].[Log_ExecMessages]",
													"storedProcedureParameters": {
														"ExecMessage": {
															"value": "Invalid folder name",
															"type": "String"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionID": {
															"value": {
																"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorID": {
															"value": null,
															"type": "Int32"
														},
														"TableLoad_ID": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SQLDB",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Lookup1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "Log ExecMessages_copy1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "SELECT 1 FROM NonExistingTable",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "Metadata",
														"type": "DatasetReference",
														"parameters": {
															"tableName": "dummy"
														}
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"additionalColumns": [
															{
																"name": "FileName",
																"value": "$$FILEPATH"
															},
															{
																"name": "TimeStamp",
																"value": {
																	"value": "@utcnow()",
																	"type": "Expression"
																}
															}
														],
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"wildcardFileName": "*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"preCopyScript": {
															"value": "@{concat('TRUNCATE TABLE ', item().LandingTableSchema, '.', item().LandingTableName)}",
															"type": "Expression"
														},
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "inputFile_gen",
														"type": "DatasetReference",
														"parameters": {
															"folderName": {
																"value": "@{item().SourcePath}",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "outputTable_gen",
														"type": "DatasetReference",
														"parameters": {
															"tableName": {
																"value": "@{item().LandingTableName}",
																"type": "Expression"
															},
															"schemaName": {
																"value": "@{item().LandingTableSchema}",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Log ExecMessages_2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy data1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[lg].[Log_ExecMessages]",
													"storedProcedureParameters": {
														"ExecMessage": {
															"value": {
																"value": "@{concat('Data copied from foler ', item().SourcePath, ' to table ', item().LandingTableSchema, '.', item().LandingTableName, '. (filesRead: ', activity('Copy data1').output.filesRead, ', rowsRead: ', activity('Copy data1').output.rowsRead, ', rowsCopied: ', activity('Copy data1').output.rowsCopied, '. Errors: ', activity('Copy data1').output.errors, ')')}",
																"type": "Expression"
															},
															"type": "String"
														},
														"PipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionID": {
															"value": {
																"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"ErrorID": {
															"value": null,
															"type": "Int32"
														},
														"TableLoad_ID": {
															"value": null,
															"type": "Int32"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "SQLDB",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Log ExecMessages",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup for Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[lg].[Log_ExecMessages]",
							"storedProcedureParameters": {
								"ExecMessage": {
									"value": {
										"value": "@{concat('Process found: ', activity('Lookup for Process').output.count, '. Process name: ', pipeline().parameters.ProcessName)}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionID": {
									"value": {
										"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorID": {
									"value": null,
									"type": "Int32"
								},
								"TableLoad_ID": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup for Process",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Log PipelineExecParam",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT * FROM cfg.ProcessesData WHERE ProcessName = ''', pipeline().parameters.ProcessName, '''')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ProcessesData"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Log PipelineExecParam",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[lg].[Log_PipelineExecParam]",
								"storedProcedureParameters": {
									"PipelineRunID": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"ProcessName": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.ProcessName",
											"type": "Expression"
										}
									},
									"StartTime": {
										"type": "DateTime",
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup for FactHierarchy",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEachDim",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT DISTINCT Hierarchy FROM cfg.ProceduresList prcd JOIN cfg.ProcessesData prcs ON prcd.ProcessId = prcs.ProcessId WHERE ProcessName = ''', pipeline().parameters.ProcessName, ''' AND TableType = ''Fact'' ORDER BY Hierarchy')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachFact",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for FactHierarchy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for FactHierarchy').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Fill each fact_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "InnerPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"hierarchyNr": {
												"value": "@{item().Hierarchy}",
												"type": "Expression"
											},
											"TableType": "Fact",
											"ExecutionID": {
												"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Log ExecMessages_5",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup for FactHierarchy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[lg].[Log_ExecMessages]",
							"storedProcedureParameters": {
								"ExecMessage": {
									"value": {
										"value": "@{concat('Fact tables hierarchy levels: ', activity('Lookup for FactHierarchy').output.count)}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionID": {
									"value": {
										"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorID": {
									"value": null,
									"type": "Int32"
								},
								"TableLoad_ID": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup for Hierarchy",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEachLanding",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@{concat('SELECT DISTINCT Hierarchy FROM cfg.ProceduresList prcd JOIN cfg.ProcessesData prcs ON prcd.ProcessId = prcs.ProcessId WHERE ProcessName = ''', pipeline().parameters.ProcessName, ''' AND TableType = ''Dimension'' ORDER BY Hierarchy ASC')}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "Metadata",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "ProceduresList"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEachDim",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup for Hierarchy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup for Hierarchy').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Fill each dimension",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "InnerPipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"hierarchyNr": {
												"value": "@{item().Hierarchy}",
												"type": "Expression"
											},
											"TableType": "Dimension",
											"ExecutionID": {
												"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "Break outer",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Fill each dimension",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/2bcb9f3d-3f6b-4a90-a49e-86d3141c7f73/resourceGroups/Lingaro_magdalenapietras_2109240601_49194/providers/Microsoft.DataFactory/factories/',pipeline().DataFactory,'/pipelineruns/',pipeline().RunId,'/cancel?api-version=2018-06-01')",
											"type": "Expression"
										},
										"method": "POST",
										"body": {
											"message": "Cancelling outer pipeline"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								}
							]
						}
					},
					{
						"name": "Log ExecMessages_3",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Lookup for Hierarchy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[lg].[Log_ExecMessages]",
							"storedProcedureParameters": {
								"ExecMessage": {
									"value": {
										"value": "@{concat('Dimension tables hierarchy levels: ', activity('Lookup for Hierarchy').output.count)}",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionID": {
									"value": {
										"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorID": {
									"value": null,
									"type": "Int32"
								},
								"TableLoad_ID": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log DimError",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachDim",
								"dependencyConditions": [
									"Failed",
									"Skipped"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[lg].[Log_ExecMessages]",
							"storedProcedureParameters": {
								"ExecMessage": {
									"value": "Error during loading dimension tables. Pipeline stopped.",
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionID": {
									"value": {
										"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorID": {
									"value": null,
									"type": "Int32"
								},
								"TableLoad_ID": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Log FactError",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEachFact",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[lg].[Log_ExecMessages]",
							"storedProcedureParameters": {
								"ExecMessage": {
									"value": "Error during loading fact tables. Pipeline stopped.",
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecutionID": {
									"value": {
										"value": "@activity('Log PipelineExecParam').output.firstRow['ExecutionID']",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"ErrorID": {
									"value": null,
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SQLDB",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"ProcessName": {
						"type": "string",
						"defaultValue": "salesData"
					}
				},
				"variables": {
					"PipelineRunId": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T09:17:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/InnerPipeline')]"
			]
		}
	]
}